<header>

    <nav>
        <a href="/">Home Page</a>
        <ul>
            <li><a href="/Books">Books</a></li>
            <li><a href="/Books/new">New Book</a></li>
            <li><a href="/inventoryBook">Inventory</a></li>

        </ul>
    </nav>

</header>