<body>
    <h1>THE BOOK INVENTORY</h1>
    <form action="/inventory" method="GET"></form>
    <div id='inventory'>
        <table border="1">
            <tr>
                <td>Name</td>
                <td>Quantity</td>
            </tr>
        </table>
    </div>
</body>

</html>